// Wordpress reset css bootstrap over taking my style i learn i have to put the reset in side body
//  because of the wordpress this is a solution i have at the moment.
body {
  /*
 *  html5resetcss
 */
  html,
  body,
  div,
  span,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  abbr,
  address,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  samp,
  small,
  strong,
  sub,
  sup,
  var,
  b,
  i,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
  }
  body {
    line-height: 1;
  }
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  nav ul {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: none;
  }
  a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
  }
  ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
  }
  mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
  }
  del {
    text-decoration: line-through;
  }
  abbr[title],
  dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  input,
  select {
    vertical-align: middle;
  }
}

input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="datetime"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
  box-shadow: 0;
  border-radius: initial;
  border: inherit;
  background-color: inherit;
  padding: 0;
  color: inherit;
  line-height: 0;
  min-height: 0;
}
input[type="checkbox"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime-local"]:focus,
input[type="datetime"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="radio"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
select:focus,
textarea:focus {
  border-color: inherit;
  box-shadow: inherit;
  outline: inherit;
}
button,
input,
select,
textarea {
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.wp-admin select {
  border-color: inherit;
  -webkit-appearance: auto;
  color: inherit;
}
.postbox .hndle,
.stuffbox .hndle {
  border-bottom: inherit;
}
.wrap .add-new-h2,
.wrap .add-new-h2:active,
.wrap .page-title-action,
.wrap .page-title-action:active {
  border: inherit;
}
.wp-core-ui .button,
.wp-core-ui .button-secondary {
  border-color: inherit;
}
.wp-core-ui .button-primary {
  border-color: inherit;
}
.wp-core-ui select:focus {
  border: inherit;
  border-color: inherit;
  color: inherit;
  box-shadow: inherit;
}
.wp-die-message,
p {
  font-size: inherit;
  line-height: initial;
  margin: inherit;
}
.wp-core-ui select {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  border-color: inherit;
  box-shadow: none;
  border-radius: inherit;
  padding: inherit;
  min-height: inherit;
  max-width: inherit;
  -webkit-appearance: auto;
  background: inherit;
  background-size: inherit;
  cursor: pointer;
  vertical-align: inherit;
}
// removing some style that wordpress adding on top my design
.startreact {
  margin-left: -20px;
  /* From uiverse.io by @G4b413l */
.ping {
  --uib-size: 50px;
  --uib-speed: 1s;
  --uib-color: #3950cf;
  position: absolute;
  right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
  height: var(--uib-size);
  width: var(--uib-size);
 }
 
 .ping::before,
 .ping::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: var(--uib-color);
  animation: pulse7132 var(--uib-speed) linear infinite;
  transform: scale(0);
  opacity: 0;
 }
 
 .ping::after {
  animation-delay: calc(var(--uib-speed) / -2);
 }
 
 @keyframes pulse7132 {
  0% {
   transform: scale(0);
   opacity: 1;
  }
 
  100% {
   transform: scale(1);
   opacity: 0;
  }
 }
 
}


